In [5]:
from plotly.offline import init_notebook_mode
from sqlalchemy import create_engine

from query_flow.parsers.postgres_parser import PostgresParser
from query_flow.vizualizers.query_vizualizer import QueryVizualizer

In [6]:
%load_ext autoreload
%autoreload 2

init_notebook_mode(connected=True)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
con_str = 'postgresql:///etrabelsi_thesis'

## Query

In [8]:
query ="""
SELECT titles.title_id
FROM titles
INNER JOIN crew ON crew.title_id = titles.title_id
INNER JOIN people ON people.person_id = crew.person_id
WHERE genres ilike '%Comedy%' 
  AND name in ('Owen Wilson', 'Adam Sandler', 'Jason Segel')
"""

In [9]:
query_renderer = QueryVizualizer(parser=PostgresParser())

In [14]:
flow_df = query_renderer.get_flow_df(query, con_str)
flow_df[["source","target","operation_type","actual_rows","actual_duration", "label", "label_metadata"]]

WARNING:root:Currently cache cleaning is not supported

,source,target,operation_type,actual_rows,actual_duration,label,label_metadata
0,0,1,Seq Scan,3446261,1110.740,People,
1,1,3,Where,3,0.000,People*,"Filter condition: (people.name = ANY ('{""Owen ..."
2,2,3,Seq Scan,13651901,2809.074,Crew,
3,3,6,Hash Join,565,4437.907,People* ⋈ Crew,Inner join with (crew.person_id = people.perso...
4,4,5,Seq Scan,2379234,1798.331,Titles,
5,5,6,Where,489076,0.000,Titles*,Filter condition: (titles.genres ~~* '%Comedy%...
6,6,7,Hash Join,186,1963.614,People* ⋈ Crew ⋈ Titles*,Inner join with (titles.title_id = crew.title_id)

In [13]:
query_renderer.vizualize(flow_df, title="Basic Flow", metrics=["actual_rows"], open_=False)

In [14]:
flow_df[["source","target","operation_type","actual_rows","label", "label_metadata"]]

,source,target,operation_type,actual_rows,label,label_metadata
0,0,1,Seq Scan,3446261,People,
1,1,3,Where,3,People*,"Filter condition: (people.name = ANY ('{""Owen ..."
2,2,3,Seq Scan,13651901,Crew,
3,3,6,Hash Join,565,People* ⋈ Crew,"Hash Cond ('Inner', '(crew.person_id = people...."
4,4,5,Seq Scan,2379234,Titles,
5,5,6,Where,489076,Titles*,Filter condition: (titles.genres ~~* '%Comedy%...
6,6,7,Hash Join,186,People* ⋈ Crew ⋈ Titles*,"Hash Cond ('Inner', '(titles.title_id = crew.t..."

In [15]:
query_renderer.parser.from_query(query, con_str, False)

{'Node Type': 'Gather',
 'Parallel Aware': False,
 'Startup Cost': 772761.07,
 'Total Cost': 935729.46,
 'Plan Rows': 11,
 'Plan Width': 10,
 'Actual Startup Time': 7022.913,
 'Actual Total Time': 8846.602,
 'Actual Rows': 558,
 'Actual Loops': 1,
 'Output': ['titles.title_id'],
 'Workers Planned': 2,
 'Workers Launched': 2,
 'Single Copy': False,
 'Shared Hit Blocks': 6706,
 'Shared Read Blocks': 594844,
 'Shared Dirtied Blocks': 0,
 'Shared Written Blocks': 0,
 'Local Hit Blocks': 0,
 'Local Read Blocks': 0,
 'Local Dirtied Blocks': 0,
 'Local Written Blocks': 0,
 'Temp Read Blocks': 0,
 'Temp Written Blocks': 0,
 'Plans': [{'Node Type': 'Hash Join',
   'Parent Relationship': 'Outer',
   'Parallel Aware': True,
   'Join Type': 'Inner',
   'Startup Cost': 771761.07,
   'Total Cost': 934728.36,
   'Plan Rows': 5,
   'Plan Width': 10,
   'Actual Startup Time': 7010.392,
   'Actual Total Time': 8823.346,
   'Actual Rows': 186,
   'Actual Loops': 3,
   'Output': ['titles.title_id'],
   'Inner Unique': False,
   'Hash Cond': '(titles.title_id = crew.title_id)',
   'Shared Hit Blocks': 6706,
   'Shared Read Blocks': 594844,
   'Shared Dirtied Blocks': 0,
   'Shared Written Blocks': 0,
   'Local Hit Blocks': 0,
   'Local Read Blocks': 0,
   'Local Dirtied Blocks': 0,
   'Local Written Blocks': 0,
   'Temp Read Blocks': 0,
   'Temp Written Blocks': 0,
   'Workers': [{'Worker Number': 0,
     'Actual Startup Time': 7004.982,
     'Actual Total Time': 8821.85,
     'Actual Rows': 190,
     'Actual Loops': 1,
     'Shared Hit Blocks': 2277,
     'Shared Read Blocks': 198388,
     'Shared Dirtied Blocks': 0,
     'Shared Written Blocks': 0,
     'Local Hit Blocks': 0,
     'Local Read Blocks': 0,
     'Local Dirtied Blocks': 0,
     'Local Written Blocks': 0,
     'Temp Read Blocks': 0,
     'Temp Written Blocks': 0},
    {'Worker Number': 1,
     'Actual Startup Time': 7003.687,
     'Actual Total Time': 8821.944,
     'Actual Rows': 171,
     'Actual Loops': 1,
     'Shared Hit Blocks': 2246,
     'Shared Read Blocks': 197204,
     'Shared Dirtied Blocks': 0,
     'Shared Written Blocks': 0,
     'Local Hit Blocks': 0,
     'Local Read Blocks': 0,
     'Local Dirtied Blocks': 0,
     'Local Written Blocks': 0,
     'Temp Read Blocks': 0,
     'Temp Written Blocks': 0}],
   'Plans': [{'Node Type': 'Seq Scan',
     'Parent Relationship': 'Outer',
     'Parallel Aware': True,
     'Relation Name': 'titles',
     'Schema': 'public',
     'Alias': 'titles',
     'Startup Cost': 0.0,
     'Total Cost': 160656.55,
     'Plan Rows': 616194,
     'Plan Width': 10,
     'Actual Startup Time': 0.116,
     'Actual Total Time': 1712.868,
     'Actual Rows': 489076,
     'Actual Loops': 3,
     'Output': ['titles.index',
      'titles.title_id',
      'titles.type',
      'titles.primary_title',
      'titles.original_title',
      'titles.is_adult',
      'titles.premiered',
      'titles.ended',
      'titles.runtime_minutes',
      'titles.genres'],
     'Filter': "(titles.genres ~~* '%Comedy%'::text)",
     'Rows Removed by Filter': 1890158,
     'Shared Hit Blocks': 2029,
     'Shared Read Blocks': 121464,
     'Shared Dirtied Blocks': 0,
     'Shared Written Blocks': 0,
     'Local Hit Blocks': 0,
     'Local Read Blocks': 0,
     'Local Dirtied Blocks': 0,
     'Local Written Blocks': 0,
     'Temp Read Blocks': 0,
     'Temp Written Blocks': 0,
     'Workers': [{'Worker Number': 0,
       'Actual Startup Time': 0.157,
       'Actual Total Time': 1674.259,
       'Actual Rows': 488346,
       'Actual Loops': 1,
       'Shared Hit Blocks': 687,
       'Shared Read Blocks': 40364,
       'Shared Dirtied Blocks': 0,
       'Shared Written Blocks': 0,
       'Local Hit Blocks': 0,
       'Local Read Blocks': 0,
       'Local Dirtied Blocks': 0,
       'Local Written Blocks': 0,
       'Temp Read Blocks': 0,
       'Temp Written Blocks': 0},
      {'Worker Number': 1,
       'Actual Startup Time': 0.159,
       'Actual Total Time': 1756.298,
       'Actual Rows': 491923,
       'Actual Loops': 1,
       'Shared Hit Blocks': 660,
       'Shared Read Blocks': 40630,
       'Shared Dirtied Blocks': 0,
       'Shared Written Blocks': 0,
       'Local Hit Blocks': 0,
       'Local Read Blocks': 0,
       'Local Dirtied Blocks': 0,
       'Local Written Blocks': 0,
       'Temp Read Blocks': 0,
       'Temp Written Blocks': 0}]},
    {'Node Type': 'Hash',
     'Parent Relationship': 'Inner',
     'Parallel Aware': True,
     'Startup Cost': 771760.8,
     'Total Cost': 771760.8,
     'Plan Rows': 21,
     'Plan Width': 10,
     'Actual Startup Time': 6971.839,
     'Actual Total Time': 6971.839,
     'Actual Rows': 565,
     'Actual Loops': 3,
     'Output': ['crew.title_id'],
     'Hash Buckets': 1024,
     'Original Hash Buckets': 1024,
     'Hash Batches': 1,
     'Original Hash Batches': 1,
     'Peak Memory Usage': 104,
     'Shared Hit Blocks': 4506,
     'Shared Read Blocks': 473380,
     'Shared Dirtied Blocks': 0,
     'Shared Written Blocks': 0,
     'Local Hit Blocks': 0,
     'Local Read Blocks': 0,
     'Local Dirtied Blocks': 0,
     'Local Written Blocks': 0,
     'Temp Read Blocks': 0,
     'Temp Written Blocks': 0,
     'Workers': [{'Worker Number': 0,
       'Actual Startup Time': 6970.264,
       'Actual Total Time': 6970.264,
       'Actual Rows': 575,
       'Actual Loops': 1,
       'Shared Hit Blocks': 1506,
       'Shared Read Blocks': 158024,
       'Shared Dirtied Blocks': 0,
       'Shared Written Blocks': 0,
       'Local Hit Blocks': 0,
       'Local Read Blocks': 0,
       'Local Dirtied Blocks': 0,
       'Local Written Blocks': 0,
       'Temp Read Blocks': 0,
       'Temp Written Blocks': 0},
      {'Worker Number': 1,
       'Actual Startup Time': 6970.343,
       'Actual Total Time': 6970.343,
       'Actual Rows': 557,
       'Actual Loops': 1,
       'Shared Hit Blocks': 1502,
       'Shared Read Blocks': 156574,
       'Shared Dirtied Blocks': 0,
       'Shared Written Blocks': 0,
       'Local Hit Blocks': 0,
       'Local Read Blocks': 0,
       'Local Dirtied Blocks': 0,
       'Local Written Blocks': 0,
       'Temp Read Blocks': 0,
       'Temp Written Blocks': 0}],
     'Plans': [{'Node Type': 'Hash Join',
       'Parent Relationship': 'Outer',
       'Parallel Aware': True,
       'Join Type': 'Inner',
       'Startup Cost': 141258.67,
       'Total Cost': 771760.8,
       'Plan Rows': 21,
       'Plan Width': 10,
       'Actual Startup Time': 963.141,
       'Actual Total Time': 6970.974,
       'Actual Rows': 565,
       'Actual Loops': 3,
       'Output': ['crew.title_id'],
       'Inner Unique': False,
       'Hash Cond': '(crew.person_id = people.person_id)',
       'Shared Hit Blocks': 4506,
       'Shared Read Blocks': 473380,
       'Shared Dirtied Blocks': 0,
       'Shared Written Blocks': 0,
       'Local Hit Blocks': 0,
       'Local Read Blocks': 0,
       'Local Dirtied Blocks': 0,
       'Local Written Blocks': 0,
       'Temp Read Blocks': 0,
       'Temp Written Blocks': 0,
       'Workers': [{'Worker Number': 0,
         'Actual Startup Time': 960.192,
         'Actual Total Time': 6969.391,
         'Actual Rows': 575,
         'Actual Loops': 1,
         'Shared Hit Blocks': 1506,
         'Shared Read Blocks': 158024,
         'Shared Dirtied Blocks': 0,
         'Shared Written Blocks': 0,
         'Local Hit Blocks': 0,
         'Local Read Blocks': 0,
         'Local Dirtied Blocks': 0,
         'Local Written Blocks': 0,
         'Temp Read Blocks': 0,
         'Temp Written Blocks': 0},
        {'Worker Number': 1,
         'Actual Startup Time': 959.695,
         'Actual Total Time': 6969.499,
         'Actual Rows': 557,
         'Actual Loops': 1,
         'Shared Hit Blocks': 1502,
         'Shared Read Blocks': 156574,
         'Shared Dirtied Blocks': 0,
         'Shared Written Blocks': 0,
         'Local Hit Blocks': 0,
         'Local Read Blocks': 0,
         'Local Dirtied Blocks': 0,
         'Local Written Blocks': 0,
         'Temp Read Blocks': 0,
         'Temp Written Blocks': 0}],
       'Plans': [{'Node Type': 'Seq Scan',
         'Parent Relationship': 'Outer',
         'Parallel Aware': True,
         'Relation Name': 'crew',
         'Schema': 'public',
         'Alias': 'crew',
         'Startup Cost': 0.0,
         'Total Cost': 566508.77,
         'Plan Rows': 17064877,
         'Plan Width': 20,
         'Actual Startup Time': 0.064,
         'Actual Total Time': 2868.31,
         'Actual Rows': 13651901,
         'Actual Loops': 3,
         'Output': ['crew.index',
          'crew.title_id',
          'crew.person_id',
          'crew.category',
          'crew.job',
          'crew.characters'],
         'Shared Hit Blocks': 2906,
         'Shared Read Blocks': 392954,
         'Shared Dirtied Blocks': 0,
         'Shared Written Blocks': 0,
         'Local Hit Blocks': 0,
         'Local Read Blocks': 0,
         'Local Dirtied Blocks': 0,
         'Local Written Blocks': 0,
         'Temp Read Blocks': 0,
         'Temp Written Blocks': 0,
         'Workers': [{'Worker Number': 0,
           'Actual Startup Time': 0.088,
           'Actual Total Time': 2817.186,
           'Actual Rows': 13676317,
           'Actual Loops': 1,
           'Shared Hit Blocks': 970,
           'Shared Read Blocks': 131223,
           'Shared Dirtied Blocks': 0,
           'Shared Written Blocks': 0,
           'Local Hit Blocks': 0,
           'Local Read Blocks': 0,
           'Local Dirtied Blocks': 0,
           'Local Written Blocks': 0,
           'Temp Read Blocks': 0,
           'Temp Written Blocks': 0},
          {'Worker Number': 1,
           'Actual Startup Time': 0.08,
           'Actual Total Time': 2897.092,
           'Actual Rows': 13533508,
           'Actual Loops': 1,
           'Shared Hit Blocks': 973,
           'Shared Read Blocks': 129832,
           'Shared Dirtied Blocks': 0,
           'Shared Written Blocks': 0,
           'Local Hit Blocks': 0,
           'Local Read Blocks': 0,
           'Local Dirtied Blocks': 0,
           'Local Written Blocks': 0,
           'Temp Read Blocks': 0,
           'Temp Written Blocks': 0}]},
        {'Node Type': 'Hash',
         'Parent Relationship': 'Inner',
         'Parallel Aware': True,
         'Startup Cost': 141258.61,
         'Total Cost': 141258.61,
         'Plan Rows': 5,
         'Plan Width': 10,
         'Actual Startup Time': 959.197,
         'Actual Total Time': 959.198,
         'Actual Rows': 3,
         'Actual Loops': 3,
         'Output': ['people.person_id'],
         'Hash Buckets': 1024,
         'Original Hash Buckets': 1024,
         'Hash Batches': 1,
         'Original Hash Batches': 1,
         'Peak Memory Usage': 104,
         'Shared Hit Blocks': 1600,
         'Shared Read Blocks': 80426,
         'Shared Dirtied Blocks': 0,
         'Shared Written Blocks': 0,
         'Local Hit Blocks': 0,
         'Local Read Blocks': 0,
         'Local Dirtied Blocks': 0,
         'Local Written Blocks': 0,
         'Temp Read Blocks': 0,
         'Temp Written Blocks': 0,
         'Workers': [{'Worker Number': 0,
           'Actual Startup Time': 957.611,
           'Actual Total Time': 957.611,
           'Actual Rows': 2,
           'Actual Loops': 1,
           'Shared Hit Blocks': 536,
           'Shared Read Blocks': 26801,
           'Shared Dirtied Blocks': 0,
           'Shared Written Blocks': 0,
           'Local Hit Blocks': 0,
           'Local Read Blocks': 0,
           'Local Dirtied Blocks': 0,
           'Local Written Blocks': 0,
           'Temp Read Blocks': 0,
           'Temp Written Blocks': 0},
          {'Worker Number': 1,
           'Actual Startup Time': 957.711,
           'Actual Total Time': 957.712,
           'Actual Rows': 4,
           'Actual Loops': 1,
           'Shared Hit Blocks': 529,
           'Shared Read Blocks': 26742,
           'Shared Dirtied Blocks': 0,
           'Shared Written Blocks': 0,
           'Local Hit Blocks': 0,
           'Local Read Blocks': 0,
           'Local Dirtied Blocks': 0,
           'Local Written Blocks': 0,
           'Temp Read Blocks': 0,
           'Temp Written Blocks': 0}],
         'Plans': [{'Node Type': 'Seq Scan',
           'Parent Relationship': 'Outer',
           'Parallel Aware': True,
           'Relation Name': 'people',
           'Schema': 'public',
           'Alias': 'people',
           'Startup Cost': 0.0,
           'Total Cost': 141258.61,
           'Plan Rows': 5,
           'Plan Width': 10,
           'Actual Startup Time': 304.98,
           'Actual Total Time': 959.112,
           'Actual Rows': 3,
           'Actual Loops': 3,
           'Output': ['people.person_id'],
           'Filter': '(people.name = ANY (\'{"Owen Wilson","Adam Sandler","Jason Segel"}\'::text[]))',
           'Rows Removed by Filter': 3446258,
           'Shared Hit Blocks': 1600,
           'Shared Read Blocks': 80426,
           'Shared Dirtied Blocks': 0,
           'Shared Written Blocks': 0,
           'Local Hit Blocks': 0,
           'Local Read Blocks': 0,
           'Local Dirtied Blocks': 0,
           'Local Written Blocks': 0,
           'Temp Read Blocks': 0,
           'Temp Written Blocks': 0,
           'Workers': [{'Worker Number': 0,
             'Actual Startup Time': 220.758,
             'Actual Total Time': 957.533,
             'Actual Rows': 2,
             'Actual Loops': 1,
             'Shared Hit Blocks': 536,
             'Shared Read Blocks': 26801,
             'Shared Dirtied Blocks': 0,
             'Shared Written Blocks': 0,
             'Local Hit Blocks': 0,
             'Local Read Blocks': 0,
             'Local Dirtied Blocks': 0,
             'Local Written Blocks': 0,
             'Temp Read Blocks': 0,
             'Temp Written Blocks': 0},
            {'Worker Number': 1,
             'Actual Startup Time': 344.965,
             'Actual Total Time': 957.573,
             'Actual Rows': 4,
             'Actual Loops': 1,
             'Shared Hit Blocks': 529,
             'Shared Read Blocks': 26742,
             'Shared Dirtied Blocks': 0,
             'Shared Written Blocks': 0,
             'Local Hit Blocks': 0,
             'Local Read Blocks': 0,
             'Local Dirtied Blocks': 0,
             'Local Written Blocks': 0,
             'Temp Read Blocks': 0,
             'Temp Written Blocks': 0}]}]}]}]}]}]}