In [8]:
import pandas as pd 

from plotly.offline import init_notebook_mode
from sqlalchemy import create_engine

from query_flow.parsers.postgres_parser import PostgresParser
from query_flow.vizualizers.query_vizualizer import QueryVizualizer

In [9]:
%load_ext autoreload
%autoreload 2

init_notebook_mode(connected=True)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
con_str = 'postgresql:///etrabelsi_thesis'

## Identifying missing records

In [11]:
query_renderer = QueryVizualizer(parser=PostgresParser(execute_query=False))

In [12]:
with create_engine(con_str).connect() as con:
    execution_plan = con.execute("DROP INDEX if exists crew_index")

In [13]:
query ="""
SELECT titles.title_id
FROM titles
INNER JOIN crew ON crew.title_id = titles.title_id
INNER JOIN people ON people.person_id = crew.person_id
WHERE genres like '%comedy%'
  AND name in ('Owen Wilson', 'Adam Sandler', 'Jason Segel')
"""

In [14]:
flow_df = query_renderer.get_flow_df(query, con_str)
query_renderer.vizualize(flow_df, title="Identifying missing records", metrics=["actual_rows"], open_=False)

WARNING:root:Currently cache cleaning is not supported

ValueError: cannot convert float NaN to integer

In [ ]:
query ="""
SELECT titles.title_id
FROM titles
INNER JOIN crew ON crew.title_id = titles.title_id
INNER JOIN people ON people.person_id = crew.person_id
WHERE genres ilike '%Comedy%' 
  AND name in ('Owen Wilson', 'Adam Sandler', 'Jason Segel')
"""

In [ ]:
flow_df = query_renderer.get_flow_df(query, con_str)
query_renderer.vizualize(flow_df, title="Missing Records in Where Clause", metrics=["actual_rows"], open_=False)